* {
  font-family: YS Text Optional, Arial, Helvetica, sans-serif;
}

textarea,
input,
select,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

body {
  font-size: 17px;
  line-height: 1.57;
}

.title {
  text-align: center;
}

.mainContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.settingsBar {
  padding: 0.25rem;
}

.btn {
  border-width: 1px;
  border-radius: 3px;
}

.btn-green {
  background-color: #c4ffc4;
  border-color: darkgreen;
}

.btn-red {
  background-color: LightSalmon;
  border-color: DarkRed;
}

.mainLink {
  color: black;
}

.mainLink:visited {
  color: black;
}
