* {
  font-family: YS Text Optional, Arial, Helvetica, sans-serif;
}

textarea,
input,
select,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

body {
  font-size: 17px;
  line-height: 1.57;
}

.title {
  text-align: center;
}

.mainContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.settingsBar {
  padding: 0.25rem;
}

.btn {
  border-width: 1px;
  border-radius: 3px;
}

.btn-green {
  background-color: #c4ffc4;
  border-color: darkgreen;
}

.btn-red {
  background-color: LightSalmon;
  border-color: DarkRed;
}

.mainLink {
  color: black;
}

.mainLink:visited {
  color: black;
}

.report {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.report_field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.report_field:not(:last-child) {
  border-bottom: 3px dashed greenyellow;
  margin-bottom: 5px;
}

.report_fieldRow {
  width: 2.5rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.report_fielValue {
  background-color: #c4ffc4;
  border: 1px solid darkgreen;
}

.report_fielDescription {
  font-size: 0.8rem;
  border: 1px solid white;
}
