@import "main.scss";

.report {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.report_field {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}
.report_field:not(:last-child) {
  border-bottom: 3px dashed greenyellow;
  margin-bottom: 5px;
}
.report_fieldRow {
  width: 2.5rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.report_fielValue {
  background-color: $greenBg;
  border: 1px solid $greenBorder;
}
.report_fielDescription {
  font-size: 0.8rem;
  border: 1px solid white;
}
