@import "main.scss";

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tasksList {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
@media (max-width: 800px) {
  .tasksList {
    flex-direction: column;
    align-items: center;
  }
}
.tasksList_column {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.table {
  border: $mainBorder;
  border-collapse: collapse;
}
.table_cell {
  border: $mainBorder;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: center;
}
@media (max-width: 600px) {
  .table_cell {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
}
.table_row {
  background-color: $gray;
}
.table_row_descroptoinRow {
  text-align: start;
  max-width: 25rem;
  min-width: 15rem;
}
.table_row_bgAnimation {
  transition-property: background-color;
  transition-duration: 1.5s;
}
.table_row:nth-child(1) {
  background: linear-gradient(to top, #bbb 20%, #eee 50%, #bbb 80%);
}
.table_row_selectable:hover {
  background-color: white;
}
.table_row_yellow {
  background-color: $yellowBg;
}
.table_row_green {
  background-color: $greenBg;
}
.table_row_red {
  background-color: #ffcab5;
}
.table_fullSizeInput {
  width: 100%;
  height: 100%;
  padding: 0;
  resize: none;
}
.invisibleInput {
  border: none;
  background-color: inherit;
}

@keyframes moveCongratulation {
  to {
    opacity: 0;
    top: 66%;
  }
  0%,
  85% {
    opacity: 1;
    top: 33%;
  }
}

.notification {
  background-color: $yellowBg;
  border: 2px solid $yellowBorder;
  border-radius: 1rem;
  padding: 1rem;
  width: 20rem;
  position: fixed;
  animation: moveCongratulation 5s linear;
}

.framedPage {
  width: 100%;
  background-color: white;
}
