<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/taskList.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="scripts/main.js"></script>
    <script src="scripts/taskList.js"></script>
    <title>Мультизадачник</title>
  </head>
  <body>
    <div id="tasksList" class="mainContent">
      <h1 class="title">Мультизадачник ({{user.name}})</h1>
      <div class="tasksList">
        <div class="tasksList_column">
          <!-- Settings bar -->

          <div class="settingsBar">
            <!-- <button class="btn btn-green" v-on:click="addRow">+</button> -->
            <button class="btn" v-on:click="setDate(-1)">&lt;</button>
            <button class="btn" v-on:click="setDate()">
              {{formatDate(day,"date")}}
            </button>
            <button class="btn" v-on:click="setDate(1)">&gt;</button>
            <span>Отчеты:</span>
            <a class="mainLink" href="reportFinished.html" target="blank"
              >(Выполненных</a
            >
            <span>|</span>
            <a class="mainLink" href="reportAll.html" target="blank"
              >Количество)</a
            >
          </div>
          <!-- Day's tasks -->
          <table class="table">
            <tr class="table_row">
              <th class="table_cell">№ п/п</th>
              <th class="table_cell">Статус</th>
              <th class="table_cell">{{little ? 'Дата' : 'Дата события'}}</th>
              <th class="table_cell">Описание</th>
              <th class="table_cell" v-bind:colspan="little ? 2 : 1">
                {{little ? '🕐' : 'Вернуться через'}}
              </th>
              <!-- <th class="table_cell">Таймер</th> -->
              <th class="table_cell" v-if="!little">
                Во сколько переключиться
              </th>
              <th class="table_cell"></th>
            </tr>
            <tr
              class="table_row"
              v-for="(task, index) in tasks"
              v-bind:id="task.id"
              v-bind:class="{table_row_yellow: task.status=='ВРаботе',table_row_green: task.status=='Завершена',table_row_red: task.status=='МнеСообщили',table_row_bgAnimation: rowsBgAnimationIsOn}"
            >
              <td class="table_cell">{{index+1}}</td>
              <td class="table_cell">
                <select
                  v-model="task.status"
                  v-on:change="task.status=='Завершена'?task.delay=0:'';setRow(index);calcTimerForRow(task);onStatusChange(task)"
                >
                  <option
                    v-for="option in statusOptions"
                    v-bind:value="option.name"
                  >
                    {{option.title}}
                  </option>
                </select>
              </td>
              <td class="table_cell">
                {{formatDate(new Date(task.data),"time")}}
              </td>
              <td class="table_cell">
                <textarea
                  rows="2"
                  cols="45"
                  class="table_fullSizeInput invisibleInput"
                  v-model="task.description"
                  v-on:change="setRow(index)"
                ></textarea>
              </td>
              <td
                class="table_cell"
                v-on:click="$event.target.firstChild ? $event.target.firstChild.focus() : null"
              >
                <input
                  class="invisibleInput"
                  v-bind:step="getDelayStep(task.timer)"
                  min="0"
                  max="999"
                  type="number"
                  v-model="task.timer"
                  v-on:change="+task.timer?task.status='Отложена':'';changeDelay(task);setRow(index);"
                />
              </td>
              <!-- <td class="table_cell">{{task.delay}}</td> -->
              <td class="table_cell">
                {{task.delay ? formatDate(delayedDate(new
                Date(task.data),Number(task.delay)),"timeDate") : ''}}
              </td>
              <td class="table_cell">
                <button class="btn btn-red" v-on:click="deleteRow(index)">
                  X
                </button>
              </td>
            </tr>
            <tr
              class="table_row"
              v-if="formatDate(day,'date') == formatDate(new Date(),'date')"
            >
              <td class="table_cell"></td>
              <td class="table_cell">
                <select disabled>
                  <option selected>{{statusOptions[3].title}}</option>
                </select>
              </td>
              <td class="table_cell"></td>
              <td class="table_cell">
                <textarea
                  rows="2"
                  cols="45"
                  class="table_fullSizeInput invisibleInput"
                  v-model="newRow.description"
                  v-on:change="addRow"
                ></textarea>
              </td>
              <td class="table_cell">
                <!--v-on:click="$event.target.firstChild ? $event.target.firstChild.focus() : null"><input class=" invisibleInput" v-bind:step="getDelayStep(newRow.timer)" min=0 max=999 type="number" v-model="newRow.timer" v-on:change="addRow"-->
              </td>
              <!-- <td class="table_cell"></td> -->
              <td class="table_cell"></td>
              <td class="table_cell"></td>
            </tr>
          </table>
        </div>
        <div class="tasksList_column">
          <!-- report -->
          <iframe
            id="framedReportFinished"
            class="framedPage"
            src="reportTwoInOne.html"
            frameborder="0"
            scrolling="no"
            v-on:load="frameLoaded($event, 5000)"
          ></iframe>
          <!-- Unfinished tasks -->
          <table
            class="table"
            v-if="formatDate(day,'date') == formatDate(new Date(),'date')"
          >
            <caption>
              Незавершенные задачи
            </caption>
            <tr class="table_row">
              <th class="table_cell">№ п/п</th>
              <th class="table_cell">Статус</th>
              <th class="table_cell">{{little ? 'Дата' : 'Дата события'}}</th>
              <th class="table_cell">Описание</th>
            </tr>
            <tr
              class="table_row table_row_selectable"
              v-for="(task, index) in unfinishadTasks"
              v-bind:id="task.id"
              v-on:dblclick="addTaskToToday(index)"
            >
              <td class="table_cell">{{index+1}}</td>
              <td class="table_cell">{{task.statusName}}</td>
              <td class="table_cell">{{formatDate(new Date(task.data))}}</td>
              <td class="table_cell table_row_descroptoinRow">
                <textarea
                  rows="2"
                  cols="45"
                  class="table_fullSizeInput invisibleInput"
                  v-model="task.description"
                  v-on:change="setRow(index,unfinishadTasks)"
                ></textarea>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div>
        <a
          class="mainLink"
          href="https://docs.google.com/spreadsheets/d/1sumgI7b5gIW0E7Y_kyMDpZuf9PxEN7VW2CqGyBzn9TM/edit#gid=1861811499"
          >(Список доработок</a
        >
        <span>|</span>
        <a class="mainLink" href="https://gitlab.com/ffSaschaGff/taskerfor1c"
          >Git)</a
        >
      </div>
      <div class="notification" v-if="currentCongratulation != -1">
        {{currentCongratulation == -1 ? '' :
        congratulations[currentCongratulation]}}
      </div>
      <audio id="sound_Attention" src="audio/attention.mp3" hidden></audio>
    </div>
  </body>
</html>
