<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/report.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="scripts/main.js"></script>
    <script src="scripts/reportFinished.js"></script>
    <title>Отчет по выполненным задачам</title>
  </head>
  <body>
    <div class="mainContent">
      <div id="report" class="report">
        <h1 class="title" v-if="!isFramed">
          Отчет по выполненным задачам <br />({{user.name}})
        </h1>
        <!-- Settings bar -->
        <div class="settingsBar">
          <span>с:</span><input type="date" v-model="dateFrom" />
          <span>по:</span><input type="date" v-model="dateTo" />
          <select v-model="interval">
            <option
              v-for="option in intervalOptions"
              v-bind:value="option.name"
            >
              {{option.title}}
            </option>
          </select>
          <button v-on:click="loadReport">&#8635;</button>
        </div>
        <div class="report">
          <!-- <div class="report_field" style="height: 8rem;">
                    <div class="report_fieldRow report_fielValue" v-for="row in report" v-bind:style="{height: row.completed*8+'rem'}">{{row.completed == 0 ? '' : Math.floor(row.completed*100) + '%'}}</div>
                </div>
                <div class="report_field">
                    <div class="report_fieldRow report_fielDescription" v-for="row in report">{{formatDate(new Date(row.date),'date')}}</div>
                </div> -->
          <svg
            class="report_field"
            v-bind:width="fieldWidth"
            v-bind:height="fieldHeight"
            xmlns="http://www.w3.org/2000/svg"
          >
            <line
              v-for="axsisLine in axsisLines"
              v-bind:x1="axsisLine.x1"
              v-bind:y1="axsisLine.y1"
              v-bind:x2="axsisLine.x2"
              v-bind:y2="axsisLine.y2"
              stroke="#000"
            />
            <text
              v-for="axsisLine in axsisLines"
              v-bind:y="axsisLine.y1-3"
              x="3"
              font-size="14"
            >
              {{axsisLine.value+"%"}}
            </text>
            <polyline
              v-bind:points="getLine"
              stroke="#b4241b"
              stroke-width="3"
              fill="none"
            />
            <circle
              v-for="point in getPoints"
              v-bind:cx="point.cx"
              v-bind:cy="point.cy"
              r="5"
              fill="#b4241b"
            />
            <text
              v-for="date in dates"
              v-bind:y="date.y"
              v-bind:x="date.x"
              v-bind:font-size="date.size"
              text-anchor="middle"
            >
              {{date.text}}
            </text>
          </svg>
        </div>
      </div>
    </div>
  </body>
</html>
